.app-container {
  background-color: #9ba9eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.app-logo {
  width: 300px;
  height: 100px;
  margin-bottom: 15px;
}
.top-container {
  background-color: #5763a5;
  background-size: cover;
  width: 85%;
  border-radius: 15px;
  display: flex;
  margin: 20px;
  padding: 30px;
  border: 0px none;
}
.password-manager-img {
  height: 350px;
  width: 350px;
  margin-left: 50px;
}
.password-container {
  background-color: #454f84;
  font-family: Roboto;
  padding: 20px;
  border: 0px none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.password-heading {
  color: #f8fafc;
  font-family: Roboto;
  font-weight: bold;
  font-weight: 400;
}
.website-logo {
  height: 30px;
  width: 30px;
  margin: 10px;
}
.input-container {
  display: flex;
  background-color: white;
  width: 450px;
  border-radius: 5px;
  border: 0px none;
  margin-bottom: 30px;
}
.line {
  margin: 0px;
  padding: 0px;
  height: 53px;
}
.input-item {
  outline: none;
  background-color: transparent;
  border: 0px none;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
  padding-left: 10px;
  color: #64748b;
}
.add-button-container {
  display: flex;
  justify-content: flex-end;
}
.add-button {
  background-color: #0b69ff;
  border-radius: 5px;
  border: 0px none;
  cursor: pointer;
  padding: 15px;
  width: 100px;
  color: white;
  font-size: 20px;
  font-family: Roboto;
  margin-right: 20px;
}
.bottom-container {
  background-color: #5763a5;
  background-size: cover;
  width: 85%;
  padding: 30px;
  border: 0px none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.your-password-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.your-password-text-cont {
  display: flex;
  color: white;
  align-items: center;
}
.count {
  color: white;
  border-radius: 10px;
  border-width: 2px;
  border-color: #b6c3ca;
  border-style: solid;
  padding-right: 15px;
  padding-left: 15px;
  height: 25px;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input-container {
  display: flex;
  background-color: #e2e8f0;
  border-radius: 2px;
  border: 0px none;
  width: 350px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.search-logo {
  color: #454f84;
  height: 30px;
  width: 30px;
  margin: 10px;
}
.hr-line {
  color: #9ba9eb;
  border: 1px solid;
  width: 100%;
}
.show-password-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  font-family: Roboto;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.no-passwords-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-passwords-image {
  height: 300px;
  width: 400px;
}
.nopassword {
  color: #ffffff;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
}
.list-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin-top: 24px;
}
